# Django фреймворк
Django==5.0.6

# WSGI сервер для UNIX
gunicorn==20.1.0

# Библиотека для работы с PostgreSQL
psycopg2-binary==2.9.3

# Django REST Framework
djangorestframework==3.14.0

# Библиотека для работы с изображениями
Pillow==9.1.0

# Управление конфигурацией через переменные окружения
django-environ==0.9.0

# Улучшенная работа с формами
django-crispy-forms==1.14.0

# Обслуживание статических файлов
whitenoise==6.1.0
